footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    padding: 10px 0px;
    width: 100%;
    background-color: #045de9;
    background-image: linear-gradient(90deg, #045de9 0%, #010197 74%);
    
    p {
        margin: 0px 10px;
    }
    .help {
        cursor: pointer;
        &:hover {
            color: #76abff;
        }
    }
}